rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    function isValidSize() {
      return request.resource.size <= 50 * 1024 * 1024;
    }

    function isValidClass(classId) {
      return classId.matches('c2-[1-6]|info-2[AB]');
    }

    match /notices/{classId}/{noticeId}/{fileName} {
      allow read: if isValidClass(classId);
      allow write: if isValidClass(classId) && isValidSize();
    }

    match /assignments/{classId}/{assignId}/{fileName} {
      allow read: if isValidClass(classId);
      allow write: if isValidClass(classId) && isValidSize();
    }

    match /posts/{classId}/{postId}/{fileName} {
      allow read: if isValidClass(classId);
      allow write: if isValidClass(classId) && isValidSize();
    }

    match /submissions/{classId}/{assignId}/{studentNum}/{fileName} {
      allow read: if isValidClass(classId);
      allow write: if isValidClass(classId) && isValidSize();
    }

    match /teacherFiles/{classId}/{fileId}/{fileName} {
      allow read: if isValidClass(classId);
      allow write: if isValidClass(classId) && isValidSize();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
